<template>
	<view class="home">
		<image class="home-banner" src="/static/images/banner.png"></image>
		<view class="home-title">
			<h4 class="title-top">优秀企业</h4>
			<h4 class="title-bot">招募令</h4>
		</view>
		<!-- 代码主体 -->
		<view class="home-content">
			<!-- 招募要求 -->
			<view class="content-require">
				<h4 class="con-header">- 招募要求 -</h4>
				<view class="require-user">
					<image class="user" src="/static/images/user.png"></image>
					<view class="triangle"></view>
					<view class="user-word">
						我们支持以下规模和方向企业合作，重点支持软件初创企业（10人+）、中小型企业
					</view>
				</view>
				<view class="require-info" v-for="(item,index) in infoList" :key="index">
					<view class="info-left">
						◆
					</view>
					<view class="info-right">
						{{item.content}}
					</view>
				</view>
				<view class="require-square">
					<view class="square" style="background-color: #F2DC96;"></view>
					<view class="square" style="background-color: #88C8D7;"></view>
					<view class="square" style="background-color: #8DCDAB;"></view>
				</view>
				<view class="require-talk">
					<view class="talk-word">
						我们提供多元化项目线索，满足不同企业项目承接需求~
					</view>
					<view class="triangle"></view>
					<image class="user" src="/static/images/user.png"></image>
				</view>
				<view class="require-more">
					<view class="more-top">
						扫码了解更多
					</view>
					<image class="more-code" src="/static/images/微信图片_20230208162118.png" mode=""></image>
					<view class="more-bottom">
						地址：北京市海淀区时代网络大厦3层3002室
					</view>
				</view>
			</view>
			<!-- 加入我们 -->
			<view class="content-join">
				<h4 class="con-header">- 加入我们 -</h4>
				<view class="join-form">
					<input @input="getInfo('name',$event)" :value="name" class="uni-input" placeholder=" 姓名"
						placeholder-style="font-size:24rpx;color:#52B1C7" />
					<input @input="getInfo('work',$event)" :value="work" class="uni-input" placeholder=" 职务"
						placeholder-style="font-size:24rpx;color:#52B1C7" />
					<input @input="getInfo('phone',$event)" :value="phone" type="number" maxlength="11"
						class="uni-input" placeholder=" 手机号" placeholder-style="font-size:24rpx;color:#52B1C7" />
					<input @input="getInfo('city',$event)" :value="city" class="uni-input" placeholder=" 城市"
						placeholder-style="font-size:24rpx;color:#52B1C7" />
					<input @input="getInfo('company',$event)" :value="company" class="uni-input" placeholder=" 企业名称"
						placeholder-style="font-size:24rpx;color:#52B1C7" />
					<input @input="getInfo('social',$event)" :value="social" type="number" class="uni-input"
						placeholder=" 社保人数" maxlength="4" placeholder-style="font-size:24rpx;color:#52B1C7" />
					<input @input="getInfo('good',$event)" :value="good" class="uni-input" placeholder=" 擅长行业"
						placeholder-style="font-size:24rpx;color:#52B1C7" />
					<!-- 					<select-cy :value="code" placeholder="代码语言" :options="codelist" @change="changeCode">
					</select-cy> -->
					<select-cy :value="style" placeholder="开发类型" :options="stylelist" @change="changeStyle">
					</select-cy>
					<view class="numbInput" v-for="(item,index) in numbInputList" :key="index">
						<view class="numbInput-left">{{item.title}}</view>
						<input @input="getInfo([item.content],$event)" :value='item.content' type="number"
							class="numbInput-right" maxlength="4" placeholder=" 请输入人数"
							placeholder-style="font-size:24rpx;color:#52B1C7" />
					</view>
					<select-cy :value="mode" placeholder="合作方式" :options="modelist" @change="changeMode">
					</select-cy>
					<select-cy :value="form" placeholder="合作形式" :options="formlist" @change="changeForm">
					</select-cy>
					<input @input="getInfo('remarks',$event)" :value="remarks" class="uni-input-other" placeholder=" 备注"
						placeholder-style="font-size:24rpx;color:#52B1C7" />
					<view class="join-form-bot">
						注：以上所有消息为必填且真实
					</view>
					<button @click="commitForm" class="form-but">提交</button>
				</view>
			</view>
			<!-- 底部 -->
			<view class="content-bot">
				<view class="bot-content">- 诚信合作 共创辉煌 -</view>
			</view>
		</view>
	</view>
</template>

<script>
	// 引入接口
	import {
		addInfo
	} from "@/api/addInfo.js";
	import amap from "@/common/amap-wx.js"
	export default {
		data() {
			return {
				infoList: [{
						content: "面向初创、中小型科技企业/项目;"
					},
					{
						content: "区域：全国;"
					},
					{
						content: "人员：10人+企业, 专人专岗, 全职;"
					},
					{
						content: "开发语言：java、vue、PHP、Python、node.js、react、c++等等;"
					},
					{
						content: "项目类型：电商、在线教育、政府/高校、大数据、智慧社区、金融、安全管控、智能制造、物联网、企业OA等等;"
					},
					{
						content: "推荐理由：无需投入客户需求、线索导出成本、就能够以更少的人、更快的速度、和我们一起不断承接、交付更多的客户项目与产品，并基于客户关系、客户信任、持续深挖更多客户需求和持续交付,获得不断增长的收入和利润!"
					},
				],
				// 代码语言列表
				// codelist: [{
				// 		label: 'JAVA',
				// 		value: 'JAVA'
				// 	},
				// 	{
				// 		label: 'VUE',
				// 		value: 'VUE'
				// 	},
				// 	{
				// 		label: 'PHP',
				// 		value: 'PHP'
				// 	},
				// 	{
				// 		label: 'GO',
				// 		value: 'GO'
				// 	},
				// 	{
				// 		label: 'Python',
				// 		value: 'Python'
				// 	},
				// 	{
				// 		label: 'Ruby',
				// 		value: 'Ruby'
				// 	},
				// 	{
				// 		label: 'react',
				// 		value: 'react'
				// 	},
				// 	{
				// 		label: 'angular',
				// 		value: 'angular'
				// 	},
				// 	{
				// 		label: 'node',
				// 		value: 'node.js'
				// 	},
				// 	{
				// 		label: '.net',
				// 		value: '.net'
				// 	},
				// 	{
				// 		label: '.net core',
				// 		value: '.net core'
				// 	},
				// 	{
				// 		label: 'C++',
				// 		value: 'C++'
				// 	},
				// 	{
				// 		label: '其他',
				// 		value: '其他'
				// 	}
				// ],
				// 开发类型列表
				stylelist: [{
						label: 'H5',
						value: 'H5'
					},
					{
						label: 'APP',
						value: 'APP'
					},
					{
						label: '小程序',
						value: '小程序'
					},
					{
						label: '桌面客户端',
						value: '桌面客户端'
					},
					{
						label: 'SaaS',
						value: 'SaaS'
					},
					{
						label: 'PaaS',
						value: 'PaaS'
					},
					{
						label: 'laaS',
						value: 'laaS'
					},
					{
						label: '插件',
						value: '插件'
					},
					{
						label: '嵌入式',
						value: '嵌入式'
					},
					{
						label: '其他',
						value: '其他'
					}
				],
				// 合作方式列表
				modelist: [{
						label: '外派',
						value: '外派'
					},
					{
						label: '出差',
						value: '出差'
					},
					{
						label: '驻场',
						value: '驻场'
					},
					{
						label: '远程',
						value: '远程'
					}
				],
				// 合作形式列表
				formlist: [{
						label: '线索转化',
						value: '线索转化'
					},
					{
						label: '售前-拆解梳理报价',
						value: '售前-拆解梳理报价'
					},
					{
						label: '项目承接',
						value: '项目承接'
					},
					{
						label: '人员派遣',
						value: '人员派遣'
					},
					{
						label: '项目监理',
						value: '项目监理'
					},
					{
						label: '方案设计',
						value: '方案设计'
					},
					{
						label: '项目导入',
						value: '项目导入'
					}
				],
				numbInputList: [{
					title: 'Java开发:',
					content: 'Java'
				}, {
					title: 'Vue开发:',
					content: 'Vue'
				}, {
					title: 'uniapp开发:',
					content: 'uniapp'
				}, {
					title: 'C++开发:',
					content: 'C'
				}, {
					title: '产品经理:',
					content: 'product'
				}, {
					title: '项目经理:',
					content: 'project'
				}, {
					title: '测试工程师:',
					content: 'test'
				}, {
					title: 'UI设计师:',
					content: 'ui'
				}, {
					title: '架构师:',
					content: 'architect'
				}],
				// 表单数据
				// code: [],
				style: [],
				mode: [],
				form: [],
				name: "",
				work: "",
				phone: "",
				city: "",
				company: "",
				social: "",
				good: "",
				Java: "",
				Vue: "",
				uniapp: "",
				C: "",
				product: "",
				project: "",
				test: "",
				ui: "",
				architect: "",
				remarks: "",
				commitTime: "",
				isPhone: false,
				latitude: "",
				longitude: "",
				amapPlugin: null,
			}
		},
		onShow() {
			this.getCurrentlocation()

		},
		mounted() {
			this.getCurrentlocation()
		},
		methods: {

			// -----------------获取经纬度
			getCurrentlocation() {
				let that = this
				uni.getLocation({
					type: 'wgs84',
					isHighAccuracy: true, //开启高精度定位
					success(res) {
						console.log(res,'获取经纬度');
						const longs = res.longitude.toString();
						const lat = res.latitude.toString();
						if (longs !== '' && lat !== '') {
							that.turnAdrr(longs, lat) //经纬度转地区名
						}
					}
				})
			},

			// -----------------获取经纬度
			// getLocation() {
			// 	uni.getLocation({
			// 		type: 'gcj02', //返回可以用于uni.openLocation的经纬度
			// 		success: (res) => {
			// 			console.log(res,'获取经纬度');
			// 			const longs = res.longitude.toString();
			// 			const lat = res.latitude.toString();
			// 			if (longs !== '' && lat !== '') {
			// 				this.turnAdrr(longs, lat) //经纬度转地区名
			// 			}
			// 		}
			// 	});
			// },

			// ------------通过经纬度获取当前位置
			turnAdrr(longs, lat) {
				// 高德逆地理变码 https://lbs.amap.com/api/webservice/guide/api/georegeo/
				let _key = 'a52ea916c4c672e6374328043c38bc97'; //高德API key类型：web服务
				uni.request({
					method: 'GET',
					url: 'https://restapi.amap.com/v3/geocode/regeo?parameters',
					data: {
						key: _key,
						location: `${longs},${lat}`,
						output: 'JSON'
					},
					success: async (res) => {
						const resData = res.data
						console.log(res, '成功返回结果');
						// -------------  定位地址
						this.city = resData.regeocode.addressComponent.province
					},
					fail: r => {
						console.log(r);
					}
				});
			},



			// --封装前代码，重复率高
			// getName(e) {
			// 	this.name = e.detail.value
			// },
			// getWork(e) {
			// 	this.work = e.detail.value
			// },
			// getPhone(e) {
			// 	this.phone = e.detail.value
			// },
			// 封装后代码，可复用，优化渲染
			getInfo(val, e) {
				this[val] = e.detail.value
			},

			// changeCode(item, value) {
			// 	this.code = value;
			// },
			changeStyle(item, value) {
				this.style = value;
			},
			changeMode(item, value) {
				this.mode = value;
			},
			changeForm(item, value) {
				this.form = value;
			},
			// 提交按钮
			commitForm() {
				// this.getLocation();
				this.commitTime = Date.now();
				this.checkModbile();
				if (this.name == "" || this.work == "" || this.remarks == "" || this.city == "" || this.company == "" ||
					this
					.social == "" || this.good == "" || this.style.length == 0 || this.mode
					.length == 0 || this.form.length == 0) {
					this.errorCommit()
				} else if (this.isPhone == false) {
					this.errorPhone()
				} else {
					this.addInfo()
					this.successCommit()
					this.clearInfo()
				}

			},



			// 接口添加
			async addInfo() {
				let result = await addInfo({
					userName: this.name,
					work: this.work,
					phone: this.phone,
					city: this.city,
					company: this.company,
					social: this.social,
					good: this.good,
					remarks: this.remarks,
					// code:this.code.toString(),
					Java: this.Java,
					Vue: this.Vue,
					uniApp: this.uniapp,
					product: this.product,
					project: this.project,
					test: this.test,
					ui: this.ui,
					C: this.C,
					architect: this.architect,
					mode: this.mode.toString(),
					style: this.style.toString(),
					form: this.form.toString(),
					commitTime: this.commitTime.toString(),
				})
			},
			// 清空数据 
			clearInfo() {
				// this.code = [],
				this.style = [],
					this.mode = [],
					this.form = [],
					this.name = "",
					this.work = "",
					this.phone = "",
					this.city = "",
					this.company = "",
					this.social = "",
					this.good = "",
					this.remarks = "",
					this.commitTime = "",
					this.Java = "",
					this.Vue = "",
					this.C = "",
					this.uniapp = "",
					this.product = "",
					this.project = "",
					this.test = "",
					this.ui = "",
					this.architect = ""
			},
			checkModbile() {
				var re = /^1[3,4,5,6,7,8,9][0-9]{9}$/;
				var result = re.test(this.phone);
				if (!result) {
					this.isPhone = false
				} else {
					this.isPhone = true
				}

			},
			// 未完善信息提示框
			errorCommit() {
				uni.showToast({
					title: '请完善您的信息',
					icon: 'none',
					//显示持续时间为 2秒
					duration: 2000
				})
			},
			// 手机号格式不对提示框
			errorPhone() {
				uni.showToast({
					title: '请输入正确的手机号',
					icon: 'none',
					//显示持续时间为 2秒
					duration: 2000
				})
			},
			// 提交成功提示
			successCommit() {
				uni.showToast({
					title: '提交成功',
					//将值设置为 success 或者直接不用写icon这个参数
					icon: 'success',
					//显示持续时间为 2秒
					duration: 2000
				})
			}

		}
	}
</script>

<style lang="less">
	.home {
		position: relative;
		left: 0px;
		width: 750rpx;
		height: 4500rpx;
		background-color: rgba(200, 233, 238, 1);
		text-align: center;

		.home-title {
			position: absolute;
			top: 130rpx;
			left: 16%;
			font-weight: 700;
			font-size: 120rpx;
			color: #fff;
			transform: skewY(-30deg);
			// transform-origin: top left;
		}

		.home-banner {
			position: absolute;
			left: 1px;
			top: 0px;
			width: 750rpx;
			height: 963rpx;
		}

		.home-content {
			position: absolute;
			top: 560rpx;
			left: 5%;
			width: 90%;
			height: 3700rpx;
			border-radius: 20rpx;
			background-color: rgba(255, 255, 255, 1);
			text-align: center;

			.content-require {
				margin-bottom: 30rpx;

				.require-user {
					display: flex;
					margin: 20rpx 0;


					.user-word {
						margin-left: 3%;
						padding: 10rpx;
						width: 400rpx;
						height: 130rpx;
						border-radius: 8px;
						background-color: rgba(64, 149, 229, 1);
						color: rgba(255, 255, 255, 1);
						font-size: 25rpx;
						line-height: 40rpx;
						text-align: left;
					}
				}

				.require-info {
					margin: 0 7%;
					display: flex;
					font-size: 25rpx;
					line-height: 50rpx;
					text-align: left;

					.info-left {
						color: #FCA026;
					}

					.info-right {
						margin-left: 20rpx;
					}
				}

				.require-square {
					display: flex;
					margin-top: 20rpx;
					margin-left: 7%;

					.square {
						margin-left: 20rpx;
						width: 20rpx;
						height: 20rpx;
					}
				}

				.require-talk {
					position: relative;
					display: flex;
					justify-content: flex-end;
					margin-top: 20rpx;
					margin-right: 8%;

					.user {
						margin-left: 3%;
					}

					.triangle {
						top: 20%;
						left: 82%;
						border-left: 20rpx solid #FFECEC;
						border-right: 20rpx solid transparent;
					}

					.talk-word {
						padding: 10rpx;
						width: 330rpx;
						height: 100rpx;
						border-radius: 8px;
						background-color: #FFECEC;
						color: #FF707F;
						font-size: 25rpx;
						line-height: 40rpx;
						text-align: left;
					}
				}

				.require-more {
					margin-top: 25rpx;

					.more-top {
						font-size: 32rpx;
					}

					.more-code {
						margin-top: 25rpx;
						width: 141rpx;
						height: 153rpx;
					}

					.more-bottom {
						margin-top: 25rpx;
						font-size: 32rpx;
					}
				}
			}

			.content-join {
				margin-top: 30rpx;

				.join-form {
					margin-top: 30rpx;
					text-align: left;

					.uni-input {
						margin-bottom: 20rpx;
						margin-left: 15%;
						margin-right: 15%;
						width: 70%;
						height: 55rpx;
						font-size: 24rpx;
						text-indent: 22rpx;
						border: 2rpx solid rgba(82, 177, 199, 1);
					}

					.uni-input-other {
						margin-bottom: 20rpx;
						margin-left: 15%;
						margin-right: 15%;
						width: 70%;
						height: 80rpx;
						font-size: 24rpx;
						text-indent: 22rpx;
						border: 2rpx solid rgba(82, 177, 199, 1);
					}

					.join-form-bot {
						margin-left: 15%;
						font-size: 15rpx;
						color: #FF707F;
					}

					.form-but {
						margin-top: 60rpx;
						margin-left: 15%;
						margin-right: 15%;
						width: 70%;
						height: 60rpx;
						font-size: 30rpx;
						line-height: 60rpx;
						text-align: center;
						color: #fff;
						background-color: rgba(82, 177, 199, 1);
					}

					.numbInput {
						display: flex;
						align-items: center;
						margin-bottom: 20rpx;
						margin-left: 15%;
						margin-right: 15%;
						width: 70%;
						height: 55rpx;
						line-height: 55rpx;
						font-size: 24rpx;

						border: 2rpx solid rgba(82, 177, 199, 1);

						.numbInput-left {
							width: 43%;
							text-indent: 30rpx;
							color: rgba(82, 177, 199, 1);
						}

						.numbInput-right {
							width: 50%;
							font-size: 24rpx;
							text-indent: 10rpx;

						}
					}
				}
			}

			.content-bot {
				margin-top: 250rpx;
				margin-left: 10%;
				margin-right: 10%;
				border-top: 5rpx solid rgba(82, 177, 199, 1);

				.bot-content {
					margin-top: 40rpx;
					font-size: 35rpx;
					color: rgba(82, 177, 199, 1);
				}
			}
		}
	}

	::v-deep .uni-select-cy-select {
		border: 2rpx solid #52B1C7 !important;
	}

	::v-deep .uni-select-cy {
		margin-bottom: 30rpx;
		margin-left: 15%;
		width: 70%;
		height: 55rpx;
		font-size: 24rpx;
		color: #52B1C7;
		text-indent: 10rpx;
	}


	.user {
		margin-left: 10%;
		width: 89rpx;
		height: 89rpx;
	}

	.con-header {
		margin-top: 20rpx;
		margin-left: 10%;
		width: 80%;
		height: 85rpx;
		font-weight: 700;
		font-size: 35rpx;
		line-height: 85rpx;
		font-family: Arial;
		color: #fff;
		background-color: #52B1C7;
	}

	.triangle {
		position: absolute;
		top: 4%;
		left: 24%;
		display: inline-block;
		width: 0;
		height: 0;
		border-top: 20rpx solid transparent;
		border-right: 20rpx solid rgba(64, 149, 229, 1);
		border-bottom: 20rpx solid transparent;
	}
</style>
